src/main/mule/numberConversion.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
    <http:listener-config name="numberConversion-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="numberConversion-config" api="numberConversion.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="1d207faa-36ef-4b71-b65a-3a90cb8f70a9" >
		<wsc:connection wsdlLocation="http://www.dataaccess.com/webservicesserver/numberconversion.wso?WSDL" service="NumberConversion" soapVersion="SOAP12" port="NumberConversionSoap12" address="http://www.dataaccess.com/webservicesserver/numberconversion.wso"/>
	</wsc:config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="c34ee7fa-6529-4ef4-b6b9-8fb28f72901e" entryTtl="120" expirationInterval="3" />
	<flow name="numberConversion-main">
        <http:listener config-ref="numberConversion-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="numberConversion-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="numberConversion-console">
        <http:listener config-ref="numberConversion-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="numberConversion-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\toDollars:application\json:numberConversion-config">
        <ee:transform doc:name="Transform Message" doc:id="538d25cf-fb3c-4b94-911b-a117941a345c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputNumber" ><![CDATA[%dw 2.0
output application/java
---
payload.numberToConvert]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="842291fc-83b6-418d-9add-f8ae6470ff7c" objectStore="Object_store"/>
		<os:contains doc:name="Contains" doc:id="77c17997-7aed-4ab5-b8b3-6fc3ff229c4c" key="#[vars.inputNumber]" objectStore="Object_store"/>
		<choice doc:name="Choice" doc:id="b803f733-943e-4c93-b5c0-a8099cc072d3" >
			<when expression="#[payload==true]">
				<os:retrieve doc:name="Retrieve" doc:id="78ef4c48-f868-445b-94f0-891b2bab4806" key="#[vars.inputNumber]" objectStore="Object_store">
					<os:default-value ><![CDATA[#["value in numbers"]]]></os:default-value>
				</os:retrieve>
				<ee:transform doc:name="Transform Message" doc:id="41e8d965-0b1c-41cb-b03a-bffe7bf47d4a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  numberInDollars: payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message to SOAP XML" doc:id="d420f08b-1e8a-4948-9499-1bd508b20890">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns web http://www.dataaccess.com/webservicesserver/
---
 {
 	web#NumberToDollars: {
        web#dNum: vars.inputNumber
    }
 }]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
				<wsc:consume doc:name="Consume" doc:id="65f41242-376f-458b-be84-acf449e6867a" config-ref="Web_Service_Consumer_Config" operation="NumberToDollars" />
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="f4f9bd66-062b-4ebf-a0e7-5c8f1565ee96">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<os:store doc:name="Store" doc:id="ea789880-3f3e-4bfd-8dbd-2b50f4d9bc33" key="#[vars.inputNumber]" objectStore="Object_store">
			<os:value><![CDATA[#[payload.NumberToDollarsResponse.NumberToDollarsResult]]]></os:value>
		</os:store>
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  numberInDollars: payload.NumberToDollarsResponse.NumberToDollarsResult
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\toString:application\json:numberConversion-config">
        <ee:transform doc:name="Transform Message to SOAP XML" doc:id="57d6afb2-cd9a-46df-99cc-919a51515f14" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns web http://www.dataaccess.com/webservicesserver/
---
 {
 	web#NumberToWords: {
        web#ubiNum: payload.numberToConvert
    }
 }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="NumberToWords" doc:name="Consume Web Service" doc:id="e5c5a746-cdb3-40d4-bcfb-a88a193e7695" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="9a58039b-738d-4e04-8e8e-b241680d5be6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  numberAsString: payload.NumberToWordsResponse.NumberToWordsResult
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
